
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AccessDenied</h2>
<br />
You do not have permissions to access @Html.Raw(ViewBag.ApplicationName).  
If you believe this is in error, please contact support.
<br />
<br />

